*{margin:0%; font-size:30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.main-box{
    display: inline-block;
    background-color:rgb(234, 173, 193);
    width: 350px;
    height: 800px;
    vertical-align: top;
    padding: 20px;
    margin-top: 20px;
}
.second-box{
    /*display: inline-block;*/
    position: absolute;
    right: 40px;
    bottom:40px;
    background-color:rgb(113, 156, 236);
    width: 200px;
    height: 500px;
    vertical-align: top;
    padding: 20px;
}
.third-box{
    display: inline-block;
    background-color:rgb(229, 181, 59);
    width: 200px;
    height: 370px;
    vertical-align: top;
    padding: 20px;
}
.circle{
    background-color:rgb(160, 211, 160);
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-content: center;
    text-align: center;
}
.circle > p{
    font-size:50px;
    color:white;
}
.fourth-box{
    position: relative;
    display: inline-block;
    background-color: rgb(193, 158, 224);
    vertical-align: top;
    width: 400px;
    height: 200px;
    vertical-align: top;
    padding: 20px;
}
.fifth-box{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(255, 143, 102);
    width: 100px;
    height: 165px;
    padding: 20px;
}























